* {
	 /* outline: red 1px solid;    */
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	font-size: 1.3rem;
}

body {
	width: 100%;
	min-width: 50rem;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 5rem;
	width: 100%;
	border-bottom: 0.3em solid black;
	
	background: -webkit-radial-gradient(white, grey); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(white, grey); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(white, grey); /* For Firefox 3.6 to 15 */
	background: radial-gradient(white, grey); /* Standard syntax (must be last) */
}

#logo_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#hss_logo {
	width: 50rem;
}


#search_ui {
	margin: 1rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#hashtag_image {
	height: 1.3rem;
}

#search_ui_label {
	margin-right: 0.5rem;
}

#search_textbox {
	margin-left: 0;
}

.result {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	border: 2px grey solid;
	border-radius: 2rem;
	box-shadow: 10px 10px 5px grey;
	padding: 1rem;
	
	background-color: #FFFF66;
	min-height: 8rem;
	
	text-align: center;
}

.social_media_logo_image {
	display: block;
	height: 4rem;
 	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}